* { box-sizing: border-box; }

body {
  font-family: "Playfair Display", serif;
  margin: 0;
  background: #f4f9f4;
}

/* HEADER */

header {
  background: linear-gradient(135deg, #008751, #00a859);
  color: white;
  padding: 2rem;
  font-size: xx-large;
  text-align: center;
  position: relative; /* REQUIRED for positioning children */
}

.nav-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 5px;
}

.nav-buttons a {
  color: white;
  text-decoration: none;
  /* padding: 5px  2px; */
  background: rgba(255,255,255,0.15);
  border-radius: 6px;
}

.nav-button a:hover {
  background: rgba(255,255,255,0.3);
}

footer {
  background: linear-gradient(135deg, #008751, #00a859);
  color: white;
  padding: 1rem;
  text-align: left;
}

.subtitle {
  opacity: 0.9;
  font-size: 1.5rem;
}

.africa-map {
  position: absolute;
  top: 10%;
  left: 2%;
  width: 10vw;
  min-width: 70px;
  max-width: 140px;
  height: auto;
}

.anotherPanel {
  background: #00a859;
  color: white;
  padding: 1.2rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,.1);
}

.panel {
  background: white;
  padding: 1.2rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,.1);
}

input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 0.7rem;
  border-radius: 6px;
  border: 1px solid #ddd;
}

button {
  background: #008751;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #006b40;
}

.status {
  color: #008751;
  font-weight: bold;
}

/* TASK CARDS */

#cards {
  display: grid;
  gap: 1rem;
}

.task {
  border-left: 6px solid #008751;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  animation: fadeIn 0.4s ease;
}

.task small {
  color: gray;
}

/* HIGHLIGHT */

mark {
  background: gold;
  padding: 2px;
}

/* ANIMATION */

@keyframes fadeIn {
  from {opacity:0; transform: translateY(10px);}
  to {opacity:1; transform: translateY(0);}
}

/* RESPONSIVE */

@media (min-width:768px){
  main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}

@media (min-width:1024px){
  main {
    grid-template-columns: repeat(3,1fr);
  }
}
